.filme{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(88,1,1,1) 14%, rgba(97,4,4,1) 91%);
  position: relative;
  border-radius: 0.5rem;
}
.filme img {
  width: 100%;
  border-radius: 0.5rem;
}
.filme small{
  display: block;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.397);
  color: #FFF;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 100%;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  backdrop-filter: blur(10px);
}